
:root {
    --black: #010101;
    --transpent: rgba(36, 36, 36, 0.4);
    --white: #F5F5F5;
}

button {
    border: none !important;
    background-color: transparent;
    color: white;
    cursor: pointer;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif !important;
    font-style: normal;
    background-color: var(--black);
    color: var(--white);
    background: #010101;
}


ul {
    padding: 0;
    list-style: none;
}

.container {
    max-width: 1440px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
}


@media screen and (max-width: 1000px) {
    .container {
        max-width: 1140px;
        padding-left: 5px;
        padding-right: 5px;
        margin: 0 auto;
    }
}