.acc__card {
    background-color: hsla(0,0%,100%,.15);
    max-width: 400px;
    margin: 10px;
    padding: 20px;
}

@keyframes GradientAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  @-webkit-keyframes GradientAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
.acc__card-balance {
    height: 100%;
    width: 100%;
    background: linear-gradient(225deg, #8a2387, #4084e9, #21f29b);
    background: -webkit-linear-gradient(225deg, #8a2387, #4084e9, #21f29b);
    /*  this color scheme is from - https://uigradients.com/#Wiretap  */
    background-size: 300% 300%;
    animation: GradientAnimation 5s ease infinite;
    -webkit-animation: GradientAnimation 5s ease infinite;

    width: 100%;
    height: 300px;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.acc__card-balance-wrapper {
    background-color: white;
    width: 250px;
    padding: 20px;
    border-radius: 10px;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 20px;
}

.acc__card-balance-value {
    font-size: 30px;
    font-weight: 900;
}

.acc__card-balance-pay button {
    padding: 10px;
}

@media screen and (max-width: 900px){
    .acc__card {
        background-color: hsla(0,0%,100%,.15);
        max-width: 100%;
        margin: 10px;
        padding: 20px;
    }
}