.header {
    
}

.header__container {
    display: flex;
    justify-content: space-between;
    /* width: 100%; */
    align-items: center;

    border-bottom: 1px solid gray;
    height: 80px;
}

.header__navbar {
    visibility: visible;
    display: flex;
    gap: 30px;
}

.header__menu-btn {
    visibility: hidden;
    margin-left: 100px;
    width: 40px;
    height: 40px;
    border-radius: 50%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 7px;
    cursor: pointer;
}

.header__menu-line {
    height: 2px;
    width: 20px;
    background-color: black;
}

.header__logo {
    color: white;
    text-decoration: none;

}

.logo__one {
    font-weight: 700;
    letter-spacing: 5px;
}

.header__navbar-link  {
    color: white;
    text-decoration: none;
    padding-bottom: 40px;
    border-bottom: 1px solid rgba(255, 255, 255, 0);
    transition: 0.3s;
}

.header__navbar-link:hover  {
    color: white;
    padding-bottom: 30px;
    border-bottom: 1px solid white;
    
}

@media screen and (max-width: 900px){
    .header__menu-btn {
        visibility: visible;
        z-index: 999;
    }

    .header__navbar-link  {
        color: white;
        text-decoration: none;
        padding-bottom: 10px;
        border-bottom: 1px solid rgba(255, 255, 255, 0);
        transition: 0.3s;
    }
    

    .header__navbar-link:hover  {
        color: white;
        padding-bottom: 10px;
        border-bottom: 1px solid white;
        
    }

    .header__navbar {
        visibility: visible;
        transition: 0.3s;
        transform: translateX(100%);
        background-color: black;
        right: 0;
        top: 81px;
        padding-right: 40px;
        padding-top: 40px;
        margin: 0;
        display: flex;
        align-items: flex-end;
        flex-direction: column;
        position: fixed;
        width: 100%;
    }

    .header__navbar.active {
        transition: 0.3s;
        height: 100vh;
        transform: translateX(0);
    }
    
}